
<footer class="footer">
    <div class="container">
      <p>&copy; Municipalidad de Mina Clavero. Todos los derechos reservados.</p>
      <ul class="footer-links">
        <div class="social-media">
          <a href="https://www.facebook.com/MinaClaveroOfc/?locale=es_LA" target="_blank" rel="noopener">
            <img src="../../../../assets/img/facebook (2).png" alt="Facebook">
          </a>
          <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fminaclaveroofc" target="_blank" rel="noopener">
            <img src="../../../../assets/img/twitter (2).png" alt="Twitter">
          </a>
        </div>
      </ul>
    </div>
