.contenedor{
    display: flex; 
    justify-content: space-around; 
    margin-top: 50px;
}

h2{
    font-size: 15px;
}

  /* Media Queries */
  @media (max-width: 992px) {
    .contenedor{
        flex-direction: column;
    }
    
  
   
  }
  
  @media (max-width: 768px) {
    .contenedor{
        flex-direction: column;
    }
    
  
  }
  
  @media (max-width: 576px) {
  
    .contenedor{
        flex-direction: column;
    }
    
  }